body {
    margin: 0;
    padding: 0;  
    max-width: 100%;
}

.bars {
    padding: 5px 10px;
    margin: 0 10px;
    list-style: none;
}

.tabbar  {
    background-color: rgba(11, 12, 12, 0.900);
}

.tabC {
    display: none;
}

.tabC.active {  
    display: block;
}

/* Set ค่าเมนูมือถือ */

.tabbar ul {
    list-style: none;
    text-align: start;    
    margin: 0 1%;
    border-radius: 20px;
    padding: 5px 0;
    margin: 0;
    font-size: 1rem;
    margin: 2px 6px;
}

.tabbar li {
    font-size: 1.25rem;     
} 

.tabC {
    border-radius: 20px;
    margin: 5px 2%;
    padding: 0 20px;
} 

.tabbar ul li ul a {
    font-size: .85rem;
    padding: 7px 10px;

}

.tabbar a {
    color: rgb(190, 185, 185);
    text-decoration: none;
    display: block;
    transition: .65s;
}

/* main */
#main .section { 
    background-color: rgb(229, 230, 235);
}



main .position .main1 {
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-top: 100px;
    background-color: rgb(6, 13, 56);
}

.position h1{
    text-align: center;
    margin:  2% 0;
    font-size: 4rem;
    color: rgb(0, 0, 0);
}

.position .main1 h2{
    font-size: 3rem;
    padding: 0;
    color:  rgb(255, 255, 255);
}

.position .main1 h3 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.position .main1 p {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1.8rem;    
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

img {
    text-align: center;

}


main .position .main2 {
    background-color: #d8a705;
    margin-top: 5px;
    padding-top: 100px;
    
}

.position .main2 h2{
    font-size: 3rem;
    padding: 0;
    color: rgb(0, 0, 0);
}

.position .main2 h3 {
    font-size: 2rem;
    color: rgb(31, 30, 30);
}

.position .main2 p {
    padding-bottom: 10px ;
    color: rgb(33, 34, 33);
    display: block;
    font-size: 1.8rem;    
}

.main2 a {
    padding-top: 20px;
    height: 0;
    width: 300px;
    padding-bottom: 60px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: .65s;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
}

.main2 p .link:hover{
    background-color: #000;
    color: aliceblue;
}

.main2 p img {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}


@media screen and (min-width: 301px) {
    .tabbar {
        margin: 5px 2%;
    }

    h1 .section{
        padding: 0;
        padding: 30px 0;
    }
}

@media screen and (min-width: 600px) {

    .tabbar {
        margin: 0;
        padding: 0;
    }

    .tabbar ul {
        list-style: none;
        text-align: start;    
        margin: 0 1%;
        border-radius: 20px;
        padding: 5px 0;
        margin: 0;
        font-size: 1rem;
        margin: 2px 6px;
    }

    .tabbar li {
        
        font-size: 1.25rem;     
    } 

    .tabC {
       border-radius: 20px;
        margin: 5px 2%;
        padding: 0 20px;
    } 

    .tabbar ul li ul a {
        font-size: .5rem;
        padding: 10px 20px;

    } 
    .tabbar li {
        font-size: 2.5rem;     
    } 
    
    .tabbar ul li ul a {
        font-size: 1.5rem;  
    }

    .position h1{
        text-align: center;
        margin:  2% 0;
        font-size: 5rem;
        color: rgb(0, 0, 0);
    }
    
    .position h2{
        margin: 0 0 0 10% ;
        font-size: 3.89rem;
        padding: 0;
        color: rgb(0, 0, 0);
    }
    
    .position h3 {
        margin: 2% 0 0 11% ;
        font-size: 2.35rem;
        color:rgb(0, 0, 0);
    }
    

    .position p {
        margin: 10px 12% 0 13% ;
        display: block;
        font-size: 1.5rem;    
    }
}

@media screen and (min-width: 1000px) {  

     /* /* menubras */
    
    header {
        margin: 0;
    }

    .tabbar .bars {
        display: none;
    }

    .tabC {
        display: block;
        padding: 0 ;
        margin-top: 0;        
    }

    .tabC a{
        height: 60px;
    }

    .tabbar {   
        width: 100%;
        padding: 0;
        margin: 0  0;
        max-width: 100%;
    }

    .tabbar .tabC {
        border: 0 20px 0 0;
    }
    
    .tabbar ul {
        text-align: center;
    }

    .tabbar ul li {
        margin: 2px 10px;
    }

    .tabbar li {
        height: 50px;
        width: 300px;   
        display: inline-block;
        text-align: center;
        font-size: 2.25rem;
        border: 0;
    } 
    
    .tabbar ul li ul li  {
        margin: 0;
        font-size: 1.85rem; 
        padding: 3px 0;
    }

    .tabbar .tabC .drop {
        padding-bottom: 20px;
    }

    .tabbar li ul {
        margin: 0;
        position: absolute;
        display: none;
        width: inherit;
    }

    .tabbar li:hover ul {
        height: auto;
        background-color: rgba(11, 11, 12, 0.897);
        text-align: center;
        display: block;
    }

    .tabbar ul li a:hover{
        color: rgb(255, 255, 255);
        border-radius: 20px;
    }


    /* ------------------------------- */

    #main {
        padding: 0; 
        margin: 0;      
    }

    h1 .section{
        padding: 100px 0;
        padding-bottom: 50px;
    }

    .position h1{
        text-align: center;
        margin: 0;
        font-size: 5rem;
        color: rgb(0, 0, 0);
    }
    
    .image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    

    .main2 p img {
        margin-top: 50px;
        padding-top: 20px;
        text-align: center;
    }


}
